body{
        background-color: aqua;
 }

h1{
        color: blue;
}

h2{
        color: red;
}
img {
        display: block;
        margin: auto;
}

div {
        width: 30%;
        border: solid 1 px;
        float: left;
        margin: 1%;
        Padding: 10 px;
}
.left {
        margin:1%;
        padding:5px;
        width: 30%;
        height:40%;
        align-content: left; 
        border: 1px solid lightgray;           
}
.center {
        margin:1%;
        padding:5px;
        width: 30%;
        height:40%;
        align-content: center; 
        border: 1px solid lightgray;
        list-style:none;
}
.right {
        margin:1%;
        padding:5px;
        width: 30%;
        height:40%;
        align-content: right; 
        border: 1px solid lightgray;
}