body {
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to right, rgb(108, 145, 247), rgb(247, 222, 81));
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ADD8E6;
	
}

.active {
    background-color: #ADD8E6;
	opacity: 0.3;
}

#erwin, #greg {
	text-align: center;
	font-size: 85px;
}




.banner {
	text-align: center;
	top: 55%;
	background: linear-gradient(#0000FF, #00FF00, #FFFF00);
}

.head {
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    background: #f0f0f0;
    width: 100%;
  }

.list-group {
    background-color: none;
} 